body {
    font-family: 'Georgia', serif;
}

header {
    background-color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.button-container{
    text-align: center;
}
.button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #555;
}
.invalid {
    color: red;
    font-family: "Book Antiqua", serif;
}

.radio {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

label[for="male"],
label[for="female"] {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

.registration {
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    max-width: 400px;
    animation: fadeInLeft 1s ease;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.registration img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 1px 0;
    color: #000;
}

input {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    width: 100%;
}

select,
input {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    width: 100%;
}

input[type="file"] {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button.sub-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button.sub-btn:hover {
    background-color: #333;
    color: #fff;
}

header .navbar-brand {
    color: #fff;
    transition: color 0.3s ease;
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
}

header .navbar-brand:hover {
    color: rgb(173 216 230);
}


header .navbar-nav .nav-item .current {
    color: dodgerblue;
}

.footer-custom {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer-container {
    padding-bottom: 60px;
}

.footer-custom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-custom a:hover {
    color: #ddd;
}

.contact-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.contact-links i {
    margin-right: 5px;
    color: #fff;
}

.contact-links a {
    margin-right: 10px;
    color: #fff;
}

@media (max-width: 767px) {
    .contact-links a {
        display: block;
        margin-bottom: 10px;
    }

    .footer-custom {
        margin-top: 50px;
        bottom: 0;
        position: relative;
        width: 100%;
    }
    table {
        border: 0;
    }
    .table, thead {
        clip: rect(0 0 0 0);
        position: absolute;
    }
    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    th {
        background-color: #f2f2f2;
    }

    .button-container {
        text-align: center;
    }

    .button {
        margin-top: 10px;
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }

    .button:hover {
        background-color: #555;
    }

}